# Spacemacs
[submodule "oh-my-zsh/.oh-my-zsh"]
	path = dotfiles/oh-my-zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
	branch = master

# iTerm2 color schemas
[submodule "settings/iterm/colors"]
	path = settings/iterm/colors
	url = https://github.com/mbadolato/iTerm2-Color-Schemes
	branch = master